/* ------------------ Header ------------------ */

header {
    #menu {
        padding: 15.5px;
    }

    nav {
        float: left;
        display: inline;
    }

    a {
        font-size: 14px;
        margin: 0 10px;
    }

    .hamburger-menu {
        display: none;
    }

    h1 {
        text-align: center;
        display: inline;
        font-size: 30px;
    }

    #social {
        float: right;
        display: inline;
        margin: 0 5px;
    }
}

#slideshow {
    h2 {
        font-size: 90px;
        text-align: center;
        top: 120px;
        right: 80px;
        width: 650px;
    }
}


/* ------------------ New Album ------------------ */

#new-album {
    margin: 0 20px;
    text-align: left;

    h3 {
        font-size: 14px;
        color: $octonaryColor;
        margin: 0 0 10px 0;
    }

    .new-album-image {
        width: 300px;
    }

    .move-buttons {
        width: auto;
    }

    .button {
        margin: 0;
    }

    ol {
        text-align: left;
        width: 100%;
        margin: auto;
    }

    .flex {
        display: flex
    }

    .column {
        flex-direction: column;
    }

    .flex-1 {
        flex: 1;
    }
}