/* ------------------ Header ------------------ */

header {
    nav {
        float: left;
        display: inline;
    }

    h1 {
        text-align: center;
        display: inline;
    }

    #social {
        float: right;
        display: inline;
    }
}

/* ------------------ New Album ------------------ */

#new-album {
    margin: 0 20px;
    text-align: left;

    h3 {
        font-size: 14px;
        color: $octonaryColor;
        margin: 0 0 10px 0;
    }

    .new-album-image {
        width: 300px;
    }

    .move-buttons {
        width: auto;
    }

    .media-buttons {
        margin: 0;
    }

    ol {
        text-align: left;
        width: 100%;
        margin: auto;
    }

    .flex {
        display: flex
    }

    .column {
        flex-direction: column;
    }

    .flex-1 {
        flex: 1;
    }
}