/* Prevent adjustments of font size after orientation changes on Windows Phone and iOS. */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* For a natural box layout model to all elements. */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: $septenaryColor;
    font-family: $primaryFont;
    font-weight: $regularWeight;
}

header {
    background-color: $quaternaryColor;
    opacity: .2;
    text-align: center;

    h1 {
        color: $primaryColor;
    }

    a {
        color: $primaryColor;
        text-decoration: none;
        font-family: $secondaryFont;
    }
    
    a:hover {
        color: $tertiaryColor;
    }

    #social {
        float: none;
    }
}

#slideshow {
    position: relative;

    h2 {
        position: absolute;
        color: $primaryColor;
    }

    .main-image {
        position: absolute;
        width: 100%;
    }
}