/* Prevent adjustments of font size after orientation changes on Windows Phone and iOS. */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* For a natural box layout model to all elements. */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: $septenaryColor;
    font-family: $primaryFont;
    font-weight: $regularWeight;
    color: $primaryColor;
}

header {
    background-color: $quaternaryColor;
    opacity: .2;
    text-align: center;

    a {
        color: $primaryColor;
        text-decoration: none;
        font-family: $secondaryFont;
        text-transform: uppercase;
    }
    
    a:hover {
        color: $tertiaryColor;
    }

    h1 {
        text-transform: uppercase;
    }

    #social {
        float: none;
    }
}

#slideshow {
    .slideshow-image {
        width: 100%;
    }

    .listen-now {
        font-weight: $boldWeight;
        text-transform: uppercase;
        color: $primaryColor;
        background-color: $senaryColor;
        border: none;
    }
}

#new-album {
    text-align: center;

    h3 {
        font-family: $tertiaryFont;
        font-weight: lighter;
        letter-spacing: .4em;
        font-size: 18px;
        margin: 20px 0;
        color: $octonaryColor;
        text-transform: uppercase;
    }

    h4 {
        font-size: 28px;
    }

    .new-album-image {
        width: 250px;
        margin: 20px 0;
    }
}