/* Prevent adjustments of font size after orientation changes on Windows Phone and iOS. */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* For a natural box layout model to all elements. */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: $quaternaryColor;
    opacity: .2;
}

nav, h1, #social-media {
    display: inline;
}

.nav-link {
    color: $primaryColor;
    text-decoration: none;
}

.nav-link:hover {
    color: $tertiaryColor;
}

h1 {
    color: $primaryColor;
}