/* Colors */

// White
$primaryColor: #ffffff;
// Grey
$secondaryColor: #828289;
// Dark grey
$tertiaryColor: #515570;
// Black
$quaternaryColor: #000000;
// Blue
$quinaryColor: #12193a;
// Navy Blue
$senaryColor: #1f1f33;
// Dark Blue
$septenaryColor: #05061a;
// Yellow
$octonaryColor: #c49640;

/* Font Family */

$primaryFont: 'Times New Roman';
$secondaryFont: 'Work Sans', sans-serif;

/* Font Weight */

$regularWeight: 300;
$boldWeight: 700;