// White
$primaryColor: #ffffff;
// Grey
$secondaryColor: #828289;
// Dark grey
$tertiaryColor: #515570;
// Black
$quaternaryColor: #000000;
// Blue
$quinaryColor: #12193a;
// Dark Blue
$senaryColor: #1f1f33;
// Yellow
$septenaryColor: #c49640;