/* ------------------ General ------------------ */

.button {
    width: 130px;
    height: 40px;
    margin: 10px 0 10px 0;
}

/* ------------------ Header ------------------ */

header {
    h1 {
        display: inline;
        text-align: center;
        margin: 10px 0 0 0;
    }
    
    nav {
        display: inline;
        margin: 20px 0;
    }

    #social {
        display: inline;
        margin: 20px 0;
    }

    a {
        font-size: 14px;
        display: inline;
    }
}

#slideshow {
    h2 {
        font-size: 90px;
        text-align: center;
        top: 120px;
        right: 80px;
        width: 650px;
    }
}

/* ------------------ New Album ------------------ */

#new-album {
    text-align: left;
    margin: 50px auto;

    h3 {
        font-size: 14px;
        color: $octonaryColor;
        margin: 0 0 10px 16px;
    }

    h4 {
        font-size: 40px;
        margin: 0 0 0 16px;
    }

    #new-album-buttons {
        margin: 10px 0;
    }

    li {
        font-size: 12px;
        padding: 7px 0;
    }

    .number {
        font-size: 14px;
        width: auto;
    }
}

/* ------------------ News ------------------ */

#news {
    margin: 50px auto;
}

/* ------------------ Tour Dates ------------------ */

#tour-dates {
    margin: 50px auto;

    .bg-image {
        width: 50%;
        height: 50%;
    }
}