/* ------------------ Header ------------------ */

header {
    #menu {
        padding: 18px 0;
    }

    h1 {
        font-size: 30px;
    }

    a {
        font-size: 14px;
        padding: 0 3px;
    }
}

#slideshow {
    #main-title {
        margin: 0;
        top: 18vh;
        left: 200px;
    }

    h2 {
        font-size: 80px;
    }

    #scroll-down-btn {
        width: 190px;
        height: 60px;
    }
}

/* ------------------ New Album ------------------ */

#new-album {
    text-align: left;
    margin: 50px auto;

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 14px;
        color: $octonaryColor;
        margin: 0 0 10px 16px;
    }

    h4 {
        font-size: 40px;
        margin: 0 0 0 16px;
    }

    #new-album-buttons {
        margin: 10px 0;
    }
    
    figcaption {
        display: none;
    }

    .new-album-titles {
        display: block;
    }

    li {
        padding: 7px 0;
    }

    .button {
        width: 140px;
        height: 40px;
    }
}

/* ------------------ News ------------------ */

#news {
    margin: 50px auto;
}

/* ------------------ Tour Dates ------------------ */

#tour-dates {
    margin: 50px auto;

    .bg-image {
        width: 50%;
        height: 50%;
    }

    .yellow-date {
        font-size: 17px;
    }

    .location {
        font-size: 17px;
        width: 250px;
    }

    .state {
        font-size: 17px;
        width: 250px;
    }

    .button {
        width: 140px;
        font-size: 14px;
    }
}

/* ------------------ Newsletter ------------------ */

/* ------------------ Footer ------------------ */

footer {
    text-align: left;
}