/* ------------------ Header ------------------ */

header {
    #menu {
        padding: 14px 0;
    }

    h1 {
        font-size: 30px;
    }

    a, .social {
        font-size: 14px;
        padding: 0 4px;
    }
}

#slideshow {
    #main-title {
        top: 20vh;
        right: 15%;
    }

    h2 {
        font-size: 85px;
    }

    #scroll-down-btn {
        font-size: 18px;
        padding: 20px 40px;
    }
}

/* ------------------ New Album ------------------ */

#new-album {
    text-align: left;
    margin: 50px auto;

    h3 {
        font-size: 14px;
        color: $octonaryColor;
        padding: 0;
        margin: 45px 0 0 0;
    }

    h4 {
        font-size: 40px;
        padding: 0;
        margin: 0;
    }

    #new-album-buttons {
        padding: 10px 0;
    }
    
    figcaption {
        display: none;
    }

    .new-album-titles {
        display: block;
    }

    li {
        padding: 4px 0;
    }
}

/* ------------------ News ------------------ */

#news {
    margin: 50px auto;

    h3 {
        padding: 0 0 0 30px;
        text-align: left;
    }
}

/* ------------------ Tour Dates ------------------ */

#tour-dates {
    margin: 50px auto;

    h3 {
        padding: 0 0 0 10px;
    }

    .tour-box {
        text-align: left;
    }

    .bg-image {
        width: 40%;
        height: 40%;
    }

    .yellow-date {
        font-size: 14px;
    }

    .location {
        font-size: 17px;
        width: 250px;
    }

    .state {
        font-size: 17px;
        width: 250px;
    }

    .button {
        width: 140px;
        font-size: 14px;
    }
}

/* ------------------ Newsletter ------------------ */

#newsletter {
    margin: 50px auto;
}


/* ------------------ Footer ------------------ */

footer {
    text-align: center;

    a, p {
        font-size: 14px;
    }

    .social {
        padding: 0 10px;
    }
}
