/* ------------------ General ------------------ */

.button {
    width: 180px;
    height: 50px;
}

/* ------------------ Header ------------------ */

#slideshow {
    h2 {
        font-size: 40px;
    }
}

/* ------------------ New Album ------------------ */

#new-album {
    margin: 30px auto;

    li {
        font-size: 16px;
    }
}

/* ------------------ News ------------------ */

#news {
    margin: 30px auto;
}

/* ------------------ Tour Dates ------------------ */

#tour-dates {
    margin: 30px auto;
}