/* ------------------ Header ------------------ */

#slideshow {
    h2 {
        font-size: 40px;
    }
}

/* ------------------ New Album ------------------ */

#new-album {
    .button {
        margin: 0;
        width: 180px;
        height: 50px;
    }

    li {
        font-size: 16px;
    }
}