/* ------------------ Header ------------------ */

header {
    #menu {
        padding: 12px 0;
    }

    h1 {
        display: inline;
        text-align: center;
        font-size: 14px;
    }
    
    nav {
        display: inline;
    }

    #social {
        display: inline;
    }

    a {
        font-size: 10px;
        display: inline;
        padding: 0 2px;
    }
}

#slideshow {
    #main-title {
        top: 9vh;
    }

    h2 {
        font-size: 50px;
    }

    #scroll-down-btn {
        width: 170px;
        height: 50px;
    }
}

/* ------------------ New Album ------------------ */

#new-album {
    margin: 30px auto;

    li {
        font-size: 12px;
        padding: 10px 0;
    }

    .number {
        font-size: 14px;
        padding: 0 5px 10px 0;
        width: auto;
    }
}

/* ------------------ News ------------------ */

#news {
    margin: 30px auto;
}

/* ------------------ Tour Dates ------------------ */

#tour-dates {
    margin: 30px auto;

    .date {
        width: 50px;
        font-size: 25px;
    }

    .yellow-date {
        font-size: 15px;
    }

    .location {
        font-size: 15px;
        width: 220px;
    }

    .state {
        font-size: 15px;
        width: 220px;
    }

    .button {
        width: 90px;
        font-size: 12px;
    }
}