/* ------------------ General ------------------ */

body {
    background-color: $septenaryColor;
    font-family: $primaryFont;
    font-weight: $regularWeight;
    color: $primaryColor;
}

// To prevent an element to collapse.
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    text-transform: uppercase;
    color: $primaryColor;
    background-color: $quinaryColor;
    border: none;
    width: 190px;
    height: 50px;
    margin: 2px 0;
}

.button:hover {
    background-color: darken($quinaryColor, 1%);
}

/* ------------------ Header ------------------ */

header {
    text-align: center;

    #menu {
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.2);
        position: fixed;
    }

    h1 {
        font-family: $primaryFont;
        text-transform: uppercase;
        font-size: 25px;
        margin: 20px;
    }

    nav, #social {
        display: none;
    }
    
    a {
        color: $primaryColor;
        text-decoration: none;
        font-family: $secondaryFont;
        text-transform: uppercase;
        font-size: 18px;
        margin: 0 5px;
    }
    
    a:hover, a:active {
        color: $tertiaryColor;
    }

    .hamburger-menu {
        display: inline;
        float: left;
        margin: 25px 0;
    }

    .hamburger-menu:hover, .social-media:hover {
        opacity: .3;
    }
}

#slideshow {
    #slideshow {
        position: relative;
    }

    .slideshow-image {
        width: 100%;
        height: auto;
    }

    input[type=button] {
        font-weight: $boldWeight;
        text-transform: uppercase;
        color: $primaryColor;
        background-color: $senaryColor;
        border: none;
        width: 200px;
        height: 50px;
    }

    input[type=button]:hover {
        background-color: darken($senaryColor, 1%);
    }

    h2 {
        font-family: $tertiaryFont;
        font-size: 25px;
        position: absolute;
        top: 80px;
        margin: 5% auto;
        width: 100%;
    }
}

/* ------------------ New Album ------------------ */

#new-album {
    text-align: center;
    margin: 10px auto;

    h3 {
        font-family: $tertiaryFont;
        font-weight: $boldWeight;
        letter-spacing: .4em;
        font-size: 18px;
        margin: 20px 0 0 0;
        color: $octonaryColor;
        text-transform: uppercase;
    }

    h4 {
        font-family: $primaryFont;
        font-size: 28px;
        margin: 10px 0 20px 0;
    }

    li {
        font-family: $tertiaryFont;
        font-size: 18px;
        padding: 10px 5px;
        list-style-type: none;
        text-align: left;
    }

    .number {
        padding: 0 15px 5px 0;
        color: $octonaryColor;
        background: none;
        border: none;
        width: 30px;
        text-align: right;
    }

    .number:hover {
        color: $novenaryColor;
    }
}

/* ------------------ News ------------------ */

#news {
    margin: 10px 0;

    h3 {
        font-family: $secondaryFont;
        font-weight: $boldWeight;
        letter-spacing: .4em;
        font-size: 30px;
        background: -webkit-linear-gradient(#c49640 50%, #816228 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }

   article {
        position: relative;
        text-align: center;
   }

   p {
       font-size: 14px;
       text-transform: uppercase;
       text-align: center;
   }

   .smaller-image {
        max-width: 250px;
   }

   .bigger-image {
        max-width: 500px;
   }

   figcaption {
        font-size: 14px;
        width: auto;
        height: 50px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        background: rgb(12, 25, 58);
        background: rgba(18, 25, 58, 0.9);
    }
}

/* ------------------ Tour Dates ------------------ */

#tour-dates {
    margin: 10px 0;
    position: relative;

    .tour-box {
        position: absolute;
    }

    h3 {
        font-family: $secondaryFont;
        font-weight: $boldWeight;
        letter-spacing: .4em;
        font-size: 30px;
        background: -webkit-linear-gradient(#c49640 50%, #816228 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
}