<footer class="row">
	<!-- Copywrite -->
	<div class="small-12 medium-12 large-2 columns">
		<p>&copy; Def Jam Records</p>
	</div>

	<!-- Footer links -->
	<div class="small-12 medium-6 large-2 columns">
		<a href="#">Terms & Conditions</a>
	</div>
	<div class="small-12 medium-6 large-2 columns">
		<a href="#">Privacy Policy</a>
	</div>
	
	<!-- Social media -->
	<div class="small-12 medium-12 large-6 columns">
		<a href="#" class="fa fa-facebook social"></a>
		<a href="#" class="fa fa-instagram social"></a>
		<a href="#" class="fa fa-spotify social"></a>
		<a href="#" class="fa fa-twitter social"></a>
		<a href="#" class="fa fa-youtube social"></a>
		<a href="#" class="fa fa-soundcloud social"></a>
		<a href="#" class="fa fa-envelope social"></a>
	</div>
</footer><!-- End of footer -->