<section id="new-album" class="row">
    <figure class="small-12 large-4 columns">
          <figcaption>
              <h3>New Album</h3>
              <h4>Pretty Girls Like Trap Music</h4>
          </figcaption>
  
          <!-- Image -->
          <img class="new-album-image" alt="2 Chainz" src="../assets/img/image-2.jpg">
    </figure>
    <div class="small-12 large-8 columns">
  
          <!-- Title -->
          <div class="new-album-titles">
              <h3>New Album</h3>
              <h4>Pretty Girls Like Trap Music</h4>
          </div>
  
          <!-- Buttons -->
          <div id="new-album-buttons" class="small-12 columns">
              <input class="button" type="button" value="Spotify">
              <input class="button" type="button" value="iTunes">
              <input class="button" type="button" value="Google Play">
              <input class="button" type="button" value="Amazon Music">
          </div>
  
          <!-- Track List -->
          <span class="small-12 medium-6 columns">
              <li><input class="number" type="button" value="1"> Good Drank - 2 Chainz, Gucci Mane, Quavo </li>
              <li><input class="number" type="button" value="2"> Champions - Kayne West, Gucci Mabne, Big Sean </li>
              <li><input class="number" type="button" value="3"> Watch Out - 2 Chainz </li>
              <li><input class="number" type="button" value="4"> It's a Vibe - 2 Chainz, Ty Dolla $ign, Trey Songz </li>
              <li><input class="number" type="button" value="5"> Good Drank 2.0 - 2 Chainz, Gucci Mane, Quavo </li>
          </span>
          <span class="small-12 medium-6 columns">
              <li><input class="number" type="button" value="6"> We Own It (Fast & Furious) - 2 Chainz, Wiz Khalifa </li>
              <li><input class="number" type="button" value="7"> Big Amount - 2 Chainz </li>
              <li><input class="number" type="button" value="8"> Smartphone - 2 Chainz </li>
              <li><input class="number" type="button" value="9"> El Chapo Jr - 2 Chainz </li>
              <li><input class="number" type="button" value="10"> I'm Diferent - 2 Chainz </li>
          </span>
    </div>
  </section><!-- End of new album section -->