<section id="news" class="row">
	<h3 class="small-12 columns">News</h3>
	<div class="small-12 columns">
		<!-- News #1 (Bigger) -->
		<article class="small-12 large-6 columns">
			<figure>
				<img class="bigger-image" alt="News 1" src="../assets/img/image-3.jpg">
			</figure>
			<figcaption class="bigger-image">
				<p>Watch 2 Chainz & Lil Wayne's New Video "Bounce"<br/>
					<a href="#" class="read-more">Read More</a>
				</p>
			</figcaption>
		</article>

		<!-- News #2 -->
		<article class="small-6 large-3 columns">
			<figure>
				<img class="smaller-image" alt="News 2" src="../assets/img/image-4.jpg">
			</figure>
			<figcaption class="smaller-image">
				<p>Get the dabbin this holiday season & purchase the...</p>
			</figcaption>
		</article>

		<!-- News #3 -->
		<article class="small-6 large-3 columns">
			<figure>
				<img class="smaller-image" alt="News 3" src="../assets/img/image-5.jpg">
			</figure>
			<figcaption class="smaller-image">
				<p>2 Chainz performing live at hempcon Nov. 7th</p>
			</figcaption>
		</article>

		<!-- News #4 -->
		<article class="small-6 large-3 columns">
			<figure>
				<img class="smaller-image" alt="News 4" src="../assets/img/image-6.jpg">
			</figure>
			<figcaption class="smaller-image">
				<p>Watch out! 2 Chainz premieres new music on 1st annual bet...</p>
			</figcaption>
		</article>

		<!-- News #5 -->
		<article class="small-6 large-3 columns">
			<figure>
				<img class="smaller-image" alt="News 5" src="../assets/img/image-7.jpg">
			</figure>
			<figcaption class="smaller-image">
				<p>GQ's most expensivest shit: 2 Chainz buys $14K Chair?</p>
			</figcaption>
		</article>
	</div>

	<!-- View More button -->
	<div class="view-more small-12 columns">
      <input class="button" type="button" value="View More">
	</div>
</section><!-- End of news section -->