<section id="tour-dates" class="row">
	<img class="bg-image" alt="Background" src="../assets/img/image-8.jpg">
	<div class="tour-box small-12 columns">
		<div class="small-12 large-3 columns"></div>
		<div class="small-12 large-9 columns">
			<h3>Tour Dates</h3>
			  
			<!-- Tour details #1 -->
			<li>
				<span class="date"><span class="yellow-date">Apr</span>14</span>
			    <span class="location">Cristler Center</span>
				<span class="state">Ann Arbor, MI</span>
				<span><input class="button" type="button" value="Tickets"></span>
			</li>
			
			<!-- Tour details #2 -->
			<li>
				<span class="date"><span class="yellow-date">Apr</span>19</span>
				<span class="location">Lost Lakes Ampitheatre</span>
				<span class="state">Oklahoma City, OK</span>
				<span><input class="button" type="button" value="Tickets"></span>
			</li>
			
			<!-- Tour details #3 -->
			<li>
				<span class="date"><span class="yellow-date">Apr</span>22</span>
				<span class="location">Pozo Saloon</span>
				<span class="state">Santa Margarita, CA</span>
				<span><input class="button" type="button" value="Tickets"></span>
			</li>
			
			<!-- Tour details #4 -->
			<li>
				<span class="date"><span class="yellow-date">Apr</span>23</span>
				<span class="location">Mullins Center</span>
				<span class="state">Amherst, MA</span>
				<span><input class="button" type="button" value="Tickets"></span>
			</li>
			
			<!-- Tour details #5 -->
			<li>
				<span class="date"><span class="yellow-date">Apr</span>28</span>
				<span class="location">Liacouras Center</span>
				<span class="state">Philadelphia, PA</span>
				<span><input class="button" type="button" value="Tickets"></span>
			</li>
		</div>
	</div>
</section><!-- End of tour dates section -->